* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.offers-div {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}
.disscount-p {
  border: 3px solid green;
  width: 30%;
  display: inline;
}
.navbar {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.navbar-links-1 {
  border: 4px solid green;
  display: inline;
}
.navbar-links-2 {
  border: 4px solid green;
  display: inline;
}
.main {
  border: 4px solid red;
  padding: 5em 1em;
}
.main-title {
  font-size: 4rem;
  width: 50%;
  margin: 0.5em 0;
}

.favourites {
  border: 4px solid red;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fav-productcontainer {
  border: 4px solid green;
  width: 100%;
  margin: 2em 0;
  display: flex;
}

.fav-productcontainer > * {
  border: 4px solid yellow;
}

.product {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.innovative {
  border: 4px solid red;
  display: flex;
}
.innovative > * {
  border: 4px solid green;
}
.innovative-img {
  width: 50%;
}
.innovative-content {
  width: 50%;
  padding: 2em;
}
.bags {
  border: 4px solid yellow;
  display: flex;
}
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspiration {
  border: 4px solid red;
  display: flex;
}
.inspiration > * {
  border: 2px solid green;
}
.inspiration-content {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inspiration-image {
  width: 50%;
}

@media (max-width: 480px) {
  .offers-div > a,
  .navbar-links-1 {
    display: none;
  }

  .disscount-p {
    width: 50%;
  }

  .offers-div {
    justify-content: center;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .main {
    text-align: center;
    padding: 1.5em 0.5em;
  }

  .main-title {
    width: 100%;
    font-size: 2.5rem;
  }
  .fav-productcontainer {
    flex-direction: column;
  }
  .product {
    width: 100%;
    align-items: center;
  }
  .product img {
    max-height: 30vh;
    object-fit: cover;
  }
  .innovative {
    flex-direction: column;
  }
  .innovative > div {
    width: 100%;
  }
  .innovative-img > img {
    max-height: 30vh;
    object-fit: cover;
  }
  .inspiration {
    flex-direction: column;
  }
  .inspiration > div {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .offers-div > a,
  .navbar-links-1 {
    display: none;
  }

  .disscount-p {
    width: 50%;
  }

  .offers-div {
    justify-content: center;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .main {
    text-align: center;
    padding: 1.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-title {
    width: 50%;
    font-size: 2.5rem;
  }
  .fav-productcontainer {
    flex-wrap: wrap;
  }
  .product {
    width: 50%;
  }
}
